<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="atm4_db.dao.AccountDAO">
	<!-- 태그에는 insert, select, update, delete가 들어감 -->
	<!-- <태그명 id="메서드명">
	  	//쿼리
	</태그명> -->
	<insert id="insertAccount">
		insert into account(ac_num, ac_pw, ac_name, ac_balance)
			values(#{ac_num}, #{ac_pw}, #{ac_name}, #{ac_balance})
	</insert>
	
	<select id="selectAccount" resultType="AccountVO">
		select * from account where ac_num = #{ac_num}
	</select>
	
	<select id="selectAccountList" resultType="AccountVO">
		select * from account
	</select>
	
	<delete id="deleteAccount">
		delete from account where ac_num = #{ac_num}
	</delete>
	
	<update id="updateAccountPw">
		update account set ac_pw = #{ac_pw} where ac_num = #{ac_num}
	</update>
	
	<update id="updateAccountBalance">
		update account set ac_balance = #{ac_balance} where ac_num = #{ac_num}
	</update>
</mapper>